@charset "UTF-8";

/* 메인 콘텐츠 영역 레이아웃 */
#main-content {
    background: #ffffff;
    padding: 30px 0;
    min-height: calc(100vh - 200px);
}

.main-wrapper {
    display: flex;
    gap: 20px;
    max-width: 1400px;
    margin: 0 auto;
}

/* 왼쪽 사이드바 (이미지) */
.left-sidebar {
    flex-shrink: 0;
    margin-left: 106px;
}

.left-sidebar img {
    width: 80%;
    height: auto;
    display: block;
    max-width: 100%;
}

/* 중앙 메인 콘텐츠 (이미지) */
.main-content-area {
    flex: 1;
}

.main-content-area img {
    width: 70%;
    height: auto;
    display: block;
    max-width: 100%;
}

/* 반응형 디자인 */
@media (max-width: 1200px) {
    .main-wrapper {
        flex-direction: column;
    }
    
    .left-sidebar {
        width: 100%;
    }
}